/*
================
Main Styles
================
*/
header {
	background-color: #FDCA40;
	color: #DF2935;
}
.row-form {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #3772FF;
	color: #FDCA40;
}
.btn-submit {
	background-color: #FDCA40;
	color: #DF2935;
}
.btn-submit:hover{
	background-color: #FDDD00;
	color: #DF2935;
}
.btn-submit:focus{
	background-color: #FDEE99;
	color: #DF2935;
}
/*
================
Buttons Section
================
*/
.btn-anime {
	margin: 2px;
	background-color: #DF2935;
	color: #E6E8E6;
}
.btn-anime:hover{
	background-color: #BD2000;
	color: #E6E8E6;
}
.btn-anime:focus{
	background-color: #7B0000;
	color: #E6E8E6;
}
.row-buttons {
	min-height: 100px;
	background-color: #FDCA40;
}

/*
================
GIFs Section
================
*/
.gifs-container {
	padding-top: 10px;
	padding-bottom: 10px;
}
.gifs {
	padding: 6px;
	margin: 4px 2px;
	border: solid;
	border-width: 3px;
	border-color: #080708;
}
img {
	overflow: inherit;
}